
*{
    text-decoration: none;
    list-style: none;
    
}
.profile-details {
    margin-top: 24px;
}

.verticle__navbar{
    background-color: #4152c8;
    margin-left: 24px;
    height: 44vw;
    border-radius: 20px;
    width: 280px;
    .tab {
        font-size: 32px !important;
        line-height: 52px;
    }
}
.nav{
    padding-top: 214px;
}
.sidebar-nav ul li{
    padding:10px 10px 0px 0px;
    border-bottom: 1px solid #5a5ccd;
    margin-left: 48px;
}
.sidebar-nav ul li {
    font-size: 15px;
    
    color: white;
}

.active-tab {
    background-image: url("../../assets//active.ping");
    background-repeat: no-repeat;
    background-position: 183px;
}




